<script>
  $(function() {
    $('i.fa-plus').click(function(event) {
      let comment = $('#commentInput').text();
      $.ajax({
        type: 'PUT',
        url: 
      })
    });
  });
</script>
<br />
<h1 class="text-center"
style="font-family:'Pacifico',cursive">Grams!</h1><br />

<% @grams.each do |gram| %>
  <div class="grams-box col-6">
    <div class="row header">
      <div class="col user-id">
        <% user = User.find_by(params[id: gram.user_id]) %>
        <%= user.email %>
      </div>
      <div class="col message">
        <%= gram.message %>
      </div>
      <div class="col">
        <% if current_user == gram.user %>
          <%= link_to edit_gram_path(gram),
          class: 'float-right' do %>
            <i class="far fa-edit"></i>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="row image justify-content-center">
      <%= image_tag gram.image.url %>
    </div>
    <div class="row comments">
      <% gram.comments.each do |comment| %>
        <div class="username">
          <b><%= user.username %></b>
        </div>
        <div class="comment">
          <p><%= comment.comment %></p>
        </div>
      <% end %>
    </div><br />
    <div class="row input">
      <%= simple_form_for [gram, @comment], html: {class: "form-inline"} do |f| %>
        <%= f.input :comment, label: false %>
        <%= button_tag(type: 'submit', class: 'btn btn-primary') do %>
          <i class="fas fa-plus float-right"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>