<br />
<h1 class="text-center"
style="font-family:'Pacifico',cursive">Grams!</h1><br />

<% @grams.each do |gram| %>
  <div class="grams-box col-8">
    <div class="row header">
      <div class="col user-id">
        <% user = User.find_by(params[id: gram.user_id]) %>
        <%= user.email %>
      </div>
      <div class="col message">
        <%= gram.message %>
      </div>
      <div class="col">
        <%= link_to edit_gram_path(gram),
        class: 'float-right',
        syle: "background-color:#4c7725;color:#FFE;
        border:1px solid black;border-radius:20px;" do %>
          <i class="far fa-edit"></i>
        <% end %>
      </div>
    </div>
    <div class="row image justify-content-center">
      <%= image_tag gram.image.url %>
    </div>
    <% gram.comments.each do |comment| %>
      <div class="row comments">
        <div class="username">
          <b><%= user.username %></b>
        </div>
        <div class="comment">
          <p><%= comment.comment %></p>
        </div>
    <% end %>
  </div>
<% end %>